@import 'components';

body{
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    background: $gradient fixed;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $primary-color
}

.maintext{
    text-align: center;
    padding: 60px 30px;
}

h1{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 11px;
    line-height: 42px;
}
p{
    padding-bottom: 20px;;
}

.img-desktop{
    display: none;
}

.img-mobile{
    width: 100%;
}

.img-logo{
    width: 100px;
    margin: 30px;
}

.accent{
    font-weight: 600;
    color: $neutral-color;
}

input[type=email]{
    color: $primary-color;
    border: $primary-color solid 1px;
    background-color: rgba(255,255,255,0);
    padding: 12px 22px 10px 22px;
    line-height: 28px;
    font-size: 14px;
}

input[type=email]:focus{
    background-color: rgba(255,255,255,0);
}

#btnemail{
    background: $gradient2;
    border: none;
    padding: 0 30px;
    box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
}

#btnemail:hover{
    background: $gradient2, rgba(255, 255, 255, 0.5);

}

.invalid-feedback{
    color: $alert-invalid;
    text-align: left;
    padding-left: 22px;
}

.input-group-append{
    border-radius: 50%;
}

footer{
    margin-top: 70px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 1024px) {

    body{
        background: $gradient fixed;
        font-weight: 400;
        font-size: $font-size;
        line-height: 28px;
        color: $primary-color
    }

    h1{
        font-size: 64px;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 17px;
        line-height: 64px;
    }

    .maintext{
        text-align: left;
        margin-top: 50px;
    }

    .maincontent{
        padding: 50px 150px;
        background-image: url("/dist/images/bg-pattern-desktop.svg");
        background-size: cover;
    }

    .img-logo{
        width: 158px;
        height: 33px;
    }

    section{
        display: flex;
    }

    .img-mobile{
        display: none;
    }

    .img-desktop{
        display: inline;
        max-width: 610px;
    }
}